KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_MASTER_ADMIN_USERNAME=admin
KEYCLOAK_MASTER_ADMIN_PASSWORD=changeme

KEYCLOAK_QUICK_REALM=quick

AWS_ACCOUNT_ID=123456789012

MAPPER_SESSION_DURATION_VALUE=43200
